body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121111;
    color: #827444;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* wrapping/ padding on sides of page */
.wrapper {
    padding-right: 150px;
    padding-left: 150px;
}

/* Exclude navbar, logo, scroll button from the padding */
body:not(.no-padding) .navbar,
body:not(.no-padding) .logo,
body:not(.no-padding) .scroll-button {
    padding-right: 100px;
    padding-left: 100px;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: #827444;
    font-weight: bold;
    margin: 10px;
}

/* sticky(?) navbar, will always show while the website is being scrolled */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #121212;
    color: #827444;
    padding: 5px;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

/* "-links" reuse for later and other links to keep same style */

.navbar-links {
    width: 61px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #827444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Nicole Nichols */
.top-left-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #121212;
    color: #827444;
    padding: 10px;
}

/* Style for the logo image */
.logo-image {
    width: 150px; 
    height: auto; 
    margin: 10px; 
}


header {
    background-color: #121212;
    color: #827444;
    text-align: center;
    padding: 20px;
}

/* align all headers to centre and style the same */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #827444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}


/* Image Container with Black Borders */
.centered-image {
    position: relative;
    text-align: center; 
    margin-top: 115px; 
}

.centered-image img {
    max-width: 85%; 
    transition: box-shadow 0.4s ease, opacity 1s ease-in-out; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#mainImage {
    width: 85%; 
    height: auto;
}

#secondImage {
    opacity: 0;
}

/* Shadow Effect (initially hidden) */
.shadow-drop-center {
    box-shadow: 0 0 0 0 transparent;
}

/* Keyframes Animation for Shadow Effect */
@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }
    100% {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
    }
}

/* Hover Effect for Image */
.centered-image img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.55); 
}

/* scroll up to top and bottom */
.scroll-button {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    outline: 2px solid #827444;
    background-color: #121111; 
    color: white;
    display: none; /* Hide by default */
}

.top-button {
    bottom: 90px;
    right: 20px;
}

.bottom-button {
    bottom: 20px;
    right: 20px;
}

/* Additional styles for hover effect */
.scroll-button:hover {
    background-color: #a39d9d86;
}

/* all headers */
h1, h2, h3, h4, h5, h6 {
    padding: 80px 20px 70px;
}

/* Portfolio section */
/* portfolio images */

header {
    padding: 80px 20px 20px; 
}

/* Portfolio section */
#portfolio {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-column {
    flex-basis: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.gallery-item {
    position: relative;
    border: 1px solid #121111;
    padding: 5px;
    background-color: #121111;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.4s ease;
    margin-bottom: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    max-height:px; 
    object-fit: cover;
}

/* Hover Effect for Image */
.gallery-item:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.55);
}

/*  */
/* about section */

#about .profile-column {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
    padding-right: 20px; 
}

#about .image-column {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
    padding-left: 20px; 
}

#about .profile-column p {
    width: 90%; 
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.profile-column {
    text-align: center;
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
    padding-right: 20px; 
    margin-top: -240px;
}

#about .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .profile-column p {
    width: 100%; 
    padding-bottom: 50px;
}

.profile-picture {
    width: 250px; 
    height: auto; 
    border-radius: 50%; 
    margin-bottom: 10px; 
}


.social-icons {
    display: flex;
    align-items: center;
    justify-content: center; /* line to center the icons horizontally */
    flex-wrap: wrap; 
    margin-top: 10px; /*margin to separate the icons from the text */
}

.social-icons img {
    width: 40px; 
    margin: 0 10px; /* margin around each icon */
}


#about .social-icons {
    display: flex;
    align-items: center;
    margin-top: 10px; 
}

#about .social-icons a {
    margin-right: 10px; 
}

.image-column {
    flex: 1;
}

.full-width-image {
    width: 90%;
    height: auto;
    border: 3px solid #030303;
    transition: box-shadow 0.4s ease, opacity 1s ease-in-out; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: relative; 
}

/* Initial Shadow Effect (not on hover) */
.full-width-image {
    box-shadow: 0 0 0 0 transparent;
}

/* Hover Effect for Image */
.full-width-image:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.55);
}




/* shop section */
body {
    background-color: #121212; 
    margin: 0; 
  }

#shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0; 
    margin-bottom: 0; 
}

#shop h3 {
    font-size: 20px; 
    color: aliceblue; 
    margin: -10px;
}

.shop-header {
    margin-bottom: -50px;
}


  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    gap: 0;
    margin-top: -60px;
    padding-bottom: 5px;
  }
  
  .column {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    background-color: #121212;
    margin-top: -150px;
  }
  
  .column img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .container .column {
    flex: 1;
    padding: 100px; 
    padding-top: 0;
    padding-bottom: 0;
    background-color: #121212; /*web background colour */
    align-items: center;
  }

  .container .column h2 {
    font-size: 22px;
  }

  /* backgroun colour on only text */
  .container .column p,
  .container .column h2 {
    color: aliceblue;
    background-color: #181818; 
    padding: 20px; 
    margin: 0;
  }
  
  .container .column a {
    display: inline-block;
    color: aliceblue;
    background-color: #181818; 
    padding: 10px; 
    padding-bottom: 20px;
    margin: 0;
  }
  
  .container .column .see-shop {
    text-align: center;
    background-color: #181818; 
    padding: 20px;
    display: block; 
  }
  
  .container .column img {
    max-width: 100%;
    margin: 0;
  }
  
  
  /* silhouette */
  .container .column:nth-child(2) {
    padding-right: 1px; 
    padding-left: 40px;
  }
  
  /* maria */
  .container .column:nth-child(1) {
    padding-right: 10px;
  
  }
  
  /* mz09 */
  .container .column:nth-child(3) {
    padding-left: 40px;
    width: 100%;
    max-width: 600px;
  
  }
  
  .container .column:nth-child(1) img {
    margin-bottom: 20px;
    width: 100%;
  
  }
  
  .container .column:nth-child(2) img {
    margin-left: auto;
    margin-top: 20px;
  }
  
  /* flickler for mz09 */
  .flicker-image {
    opacity: 1; 
    transition: opacity 0.3s ease; 
  
    /* Apply the flicker animation on hover */
    &:hover {
        animation: flicker 1.5s linear infinite both;
        opacity: 1; /* Ensure opacity is reset on hover */
    }
  }
  
  @keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42%, 43% {
        opacity: 0;
    }
    43.01%, 47.99% {
        opacity: 1;
    }
    48%, 49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
  }
  
  .shop-link {
    color: aliceblue;
    text-decoration: underline;
  }
  
  .shop-button {
    display: block;
    width: 180px;
    height: 65px;
    padding: 0;
    border: 1px solid aliceblue;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    background-color: #121111;
    cursor: pointer;
    margin-top: -250px; 
    margin-bottom: 10px; 
  }
/* Contact section */

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #827444;
}

.contact-headers {
    font-size: 22px;
    color: #827444;
    text-align: left !important; 
    margin-bottom: 10px; 
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 200px;
    justify-content: center;
    text-align: left; 
    margin-bottom: 8px;
    width: 100%; 
}


input, textarea,
send-button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    font-family: Arial, sans-serif;
    color: aliceblue;
    font-size: 18px; 
    border: none; /* Remove input border */
    background-color: #121212;
    border-bottom: 2px solid aliceblue; /* Colored line as placeholder */
    outline: none; 
    width: 850px;
}

textarea {
    margin-bottom: 8px;
}


input::placeholder,
 textarea::placeholder {
    color:aliceblue; /* Placeholder text color */
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.send-button {
    display: inline-block;
    width: 180px; 
    height: 65px; 
    padding: 10px; 
    border: 1px solid aliceblue; 
    color: aliceblue; 
    text-decoration: none;
    text-align: center;
    font-size: 18px; 
    background-color: #181818; 
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 250px;
    
}

/* Hover effect */
.send-button:hover {
    background-color: #a39d9d86; /* Darker black background on hover */
    border-color: aliceblue; /* Darker black border on hover */
}

/* send button event */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    padding: 50px;
    border: 1px solid #827444;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.popup-content {
    text-align: center;
    color: #827444;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close:hover {
    color: #555;
}



/* footer style */

footer {
    background-color: #121212; 
    color: #827444; 
    text-align: center;
    padding: 20px; 
}

.footer-link {
    color: #827444; 
    text-decoration: none; 
    margin: 0 10px; 
}

.footer-link:hover {
    text-decoration: underline; 
}

.copyright {
    font-size: 16px; 
    font-weight: bold; 
    margin-bottom: 10px; 
}

/* html page 2 */
/* gallery page */

.gallery-container {
    position: relative;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.image-container {
    position: relative;
}

.gallery-image {
    max-height: 1000px;
    width: auto;
    object-fit: cover; /* Maintain aspect ratio and cover container */
    display: none; /* Initially hide all images */
    padding: 40px;
    background-color: #030303;
}

.gallery-image.active {
    display: block; /* Display only the active image */
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 97%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    opacity: 0; /* Initially hide the description */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

/* show the descriptions only when hovering over image */
.image-container:hover .image-caption {
    opacity: 1; 
}


.caption-title {
    font-weight: bold; 
}

.caption-date,
.caption-description {
    margin-top: 5px; 
}

/* show the buttons only when hovering over image */
.gallery-container:hover .gallery-nav-buttons {
    opacity: 1;
}

.gallery-nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    opacity: 0; /* Initially hide the buttons */
    transition: opacity 0.3s ease; 
    
}

.gallery-nav-buttons button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    outline: 2px solid #827444;
    background-color: #121111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-nav-buttons button:hover {
    background-color: #a39d9d86;
}

.gallery-nav-buttons button.left {
    margin-right: -40px; 
}

.gallery-nav-buttons button.right {
    margin-left: -40px; 
}

.gallery-nav-buttons button:hover {
    background-color: #a39d9d86;
}




/*  effects */
/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
  ---------------------------------------------- */

  /* icons */
  /* <a target="_blank" href="https://icons8.com/icon/vMuMOMCLdFz2/etsy">Etsy</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
  